{% load i18n %}
{% load pyhn_extras %}

<div class="row news">
  <div class="col-md-12">
    <h4 class="title">
      <small>{% if show_index %}{{ start_index|add:forloop.counter }}.{% endif %}</small>
      <span class="vote">
        {% if not post.voted %}
        <a class="up" href="{% url 'news:post_vote' post.id %}"><span class="glyphicon glyphicon-thumbs-up btn-sm"></span></a>
        {% endif %}
      </span>
      {% if post.url %}
      <a href="{{ post.url }}">{{ post.title }}</a>
      {% else %}
      <a href="#self">{{ post.title }}</a>
      {% endif %}
      <small>{% if post.netloc %}{{ post.netloc }}{% endif %}</small>
    </h4>
    <h6 class="sub">
      <small>
        <span id="id-point-{{ post.id }}">{{ post.vote_set.count }}</span> point |
        {% trans '投递：' %}<a href="#author"><img src="{{ post.user.email|gravatar_url }}" /> {{ post.user.username }}</a> |
        {% trans '时间：' %}{{ post.created_at|timesince }} ago |
        {% trans '评论：' %}<a href="{% url 'news:comment' post.id %}"><span class="glyphicon glyphicon-comment"></span> {{ post.comment_set.count }}</a>
        {% if request.user == post.user %}
        | <a class="remove" href="{% url 'news:remove' post.id %}"><span class="glyphicon glyphicon-trash"></span> remove</a>
        {% endif %}
      </small>
    </h6>
  </div>
</div>
