html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.news a {
  text-decoration: none;
}
.news .title a {
  color: #333;
}
.news .title a:hover {
  color: #428bca;
}
.news .title a:visited {
  color: #999;
}
.news .title .btn-sm {
  padding: 0;
}
.news .title .vote {
  display: inline-block;
  width: 12px;
}
.news .title a.up:hover {
  color: #d9534f;
}
.news .sub {
  padding-left: 35px;
}
.news .sub a, .comments a {
  color: #999;
}
.news .sub a:hover, .comments a:hover {
  color: #428bca;
}
.comment .row, .comments {
  padding: 15px 0 0 33px;
}
.comments {
  padding-top: 30px;
}
.comments h6 {
  margin: 15px 10px 10px 10px;
}
.comments .tree {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}
.comments .tree ul, .comments .tree li {
  list-style-type: none;
}
.comments .tree pre {
  border: 0;
  background-color: #fff;
  padding: 0 10px 0;
  margin-bottom: 0;
}
