{% load i18n %}

<form id="{{ id }}" method="post" action="{{ action }}">{% csrf_token %}
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group{% if form.content.errors %} has-error{% endif %}">
        {{ form.content }}
        <span class="help-block">{{ form.content.errors|striptags }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-default">{% trans '确定' %}</button>
    </div>
  </div>
</form>
